<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Employee Award Recognition Portal</title>
    </head>
    <nav id="bar">
        <a href="/admin" class="adminNavButton">Home</a>
        <a href="/admin/create-user" class="adminNavButton">Create New User</a>
        <a href="/admin/editUsers" class="adminNavButton">Update Existing User</a>
        <a href="/admin/BIReport1" class="adminNavButton">BI Dashboard</a>
        <a href="/logout" class="logoutButton">Logout</a>
    </nav>
<body>
    {{{body}}}
</body>
</html>