<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <title>Employee Award Recognition Portal</title>
    </head>
    <div class="navbar navbar-light fixed-top bg-light">
        <ul class="nav">
            <li class="nav-item p-1">
                <a href="/admin" class="btn btn-primary btn-sm" role="button">
                    <span class="oi oi-home" title="home" aria-hidden="true"></span> Home
                </a>
            </li>
            <li class="nav-item p-1">
                <a href="/admin/create-user" class="btn btn-primary btn-sm" role="button">
                    <span class="oi oi-plus" title="plus" aria-hidden="true"></span> Create New user
                </a>
            </li>
            <li class="nav-item p-1">
                <a href="/admin/editUsers" class="btn btn-primary btn-sm" role="button">
                    <span class="oi oi-loop-square" title="loop square" aria-hidden="true"></span> Update Existing Use
                </a>
            </li>
            <li class="nav-item p-1">
                <a href="/admin/BIReport1" class="btn btn-primary btn-sm" role="button">
                    <span class="oi oi-spreadsheet" title="spreadsheet" aria-hidden="true"></span> BI Dashboard
                </a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="nav-item p-1">
                <a href="/logout" class="btn btn-danger btn-sm" role="button">
                    <span class="oi oi-account-logout" title="account logout" aria-hidden="true"></span > Logout
                </a>
		    </li>
        </ul>
    </div>
<body>
    {{{body}}}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>