<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Employee Award Recognition Portal</title>
    </head>
    <nav id="bar">
        <a href="/users" class="userNavButton">Home</a>
        <a href="/users/create" class="userNavButton">Create Award</a>
        <a href="/users/view" class="userNavButton">View Awards</a>
        <a href="/users/update" class="userNavButton">Update Account</a>
        <a href="/logout" class="logoutButton">Logout</a>
    </nav>
<body>
    {{{body}}}
</body>
</html>