<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <title>Employee Award Recognition Portal</title>
    </head>
    <div class="navbar fixed-top bg-white">
        <ul class="nav">
            <li class="nav-item p-1">
                <a href="/users" class="btn btn-success btn-sm" role="button">
                    <span class="oi oi-home" title="home" aria-hidden="true"></span> Home
                </a>
            </li>
            <li class="nav-item p-1">
                <a href="/users/create" class="btn btn-success btn-sm" role="button">
                    <span class="oi oi-plus" title="plus" aria-hidden="true"></span> Create Award
                </a>
            </li>
            <li class="nav-item p-1">
                <a href="/users/view" class="btn btn-success btn-sm" role="button">
                <span class="oi oi-eye" title="eye" aria-hidden="true"></span> View Awards
                </a>
            </li>
            <li class="nav-item p-1">
                <a href="/users/update" class="btn btn-success btn-sm" role="button">
                    <span class="oi oi-loop-square" title="loop square" aria-hidden="true"></span> Update Account
                </a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="nav-item p-1">
                <a href="/logout" class="btn btn-danger btn-sm" role="button">
                    <span class="oi oi-account-logout" title="account logout" aria-hidden="true"></span > Logout
                </a>
		    </li>
        </ul>
    </div>
<body>
    {{{body}}}
</body>
</html>