
<form action="./upload-signature" method="post" enctype="multipart/form-data">
    <div>
        <p>Select signature file to upload</p>
    </div>
    <div>
        <input id="userId" name="userId" type="hidden" value={{userId}}>
        <input type="file" name="signatureImage" />
    </div>
    <div>
        <input type="submit" value="Upload">
    </div>
</form>