
<form action="./upload-signature" method="post" enctype="multipart/form-data">
    <div>
        <p>Select signature file to upload</p>
    </div>
    <div>
        <input type="file" name="signatureImage" />
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>