
<form action="./upload-signature" method="post" enctype="multipart/form-data">
    <div>
        <p>Select signature file to upload</p>
    </div>
    <div>
        <input id="userId" name="id" type="hidden" value={{id}}>
        <input type="file" name="signatureImage" />
    </div>
    <div>
        <input type="submit" value="Upload">
    </div>
</form>

<div>
    <p>To ensure a correctly sized signature, you can download, sign, and updload the <a href="/public/images/signature_template.png">signature template</a></p>
</div>