<h4>Administrator Landing Page</h4>

<h6>{{status}}</h6>

<div>
    <a href="/admin/create-user" class="adminNavButton">Create a New User</a>

</div>

<div>
    <a href="/admin/editUsers" class="adminNavButton">Update or Delete an Existing User</a>

</div>

<div>
    <a href="/admin/BIReport1" class="adminNavButton">Business Intelligence Dashboard</a>

</div>