
<form action="./upload-signature" method="post" enctype="multipart/form-data">
    <div>
        <h4>Select signature file to upload</h4>
    </div>
    <div class="divContainer">
        <input id="userId" name="id" type="hidden" value={{id}}>
        <input type="file" name="signatureImage" />
        <input type="submit" value="Upload">
    </div>
</form>

<div>
    <p>To ensure a correctly sized signature, you can download, sign, and updload the <a href="/images/signature_template.png" download>signature template</a></p>
</div>