<h4>Administrator Landing Page</h4>

<div>
    <a href="/admin/create-user">Create a New User</a>

</div>

<div>
    <a href="/admin/editUsers">Update or Delete an Existing User</a>

</div>

<div>
    <a href="/admin/BIReport1">Business Intelligence Dashboard</a>

</div>