<div class="centerPage">
    <h6>{{status}}</h6>
    <a href="/admin/create-user" class="btn btn-primary btn-lg py-6" role="button">
        <span class="oi oi-plus" title="plus" aria-hidden="true"></span> <br>Create a New User
    </a>
    <a href="/admin/editUsers" class="btn btn-primary btn-lg py-7" role="button">
        <span class="oi oi-loop-square" title="loop square" aria-hidden="true"></span> <br>Update/Delete<br>Users
    </a>
        <a href="/admin/BIReport1" class="btn btn-primary btn-lg px-4" role="button">
        <span class="oi oi-spreadsheet" title="spreadsheet" aria-hidden="true"></span> <br>Business<br>Intelligence<br>Dashboard
    </a>
</div>