<div class="landingPosition">
    <a href="/users/create" class="landingButton">Create Award</a>
    <a href="/users/view" class="landingButton">View Awards</a>
    <a href="/users/update" class="landingButton">Update Account</a>
</div>