.landingButton{
    background-color:#239B56;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

.landingPosition{
    position: fixed;
    top: 50%;
    left: 25%;
}

.logoutButton{
    background-color: darkgrey;
    border: none;
    color: black;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}